html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #F8F0E3;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.containerHead{
  display: grid;
  place-content: center;
}

  .header{
    font-size: 4rem;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    font-weight: bolder;
  } 

  #startbutton{
    display: grid;
    position: relative;
    background-color: #4682B4;
    top: 30rem;
    width: max-content;
    height: max-content;
    padding: 1.5rem 4rem;
    border-radius: 30%;
    font-size: 1.5rem;
  }

  #startbutton:hover{
    background-color: blue;
    cursor: pointer;
  }