html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #F8F0E3;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

header{
    display: flex;
}

  .header{
    font-size: 4rem;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    font-weight: bolder;
  }

  #startbutton{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 45%;
    justify-content: center;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }